@import "https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&family=Nunito+Sans:wght@300;400;600;700&family=Open+Sans&display=swap&subset=cyrillic,latin-ext";
@font-face {
    font-family:    Roboto-thin;
    src:            url("fonts/Roboto-ThinItalic.ttf");
}

h1,h2,h3,h4,h5,h6{
    color: rgba(255,255,255,.8);
}

body {
    font-family: "Nunito Sans",sans-serif;
    color: white;
    height:         100vh;
    margin:         0;
    background:     #002352;
}

#window {
    text-align:			center;
    margin: 			0;
    position: 			fixed;
    top: 				50%;
    left: 				50%;
    transform: 			translate(-50%, -50%);
	padding:			30px;

    font-size:			20px;
    font-weight:		bold;

    overflow-y:         auto;
    overflow-x:         hidden;
    max-height:         70%;
    z-index:            2;
}

#window::-webkit-scrollbar {
    width:              5px;
  }
  
#window::-webkit-scrollbar-track {
    background:         transparent;
  }
  
#window::-webkit-scrollbar-thumb {
    background-color:  rgba(255,255,255,.3);
    border-radius:      20px;
  }

#window::-webkit-scrollbar-track-piece:end {
    margin-bottom: 50px;
}
#window::-webkit-scrollbar-track-piece:start {
    margin-top: 50px;
}

#language_div {
    position: fixed;
    right:    5px;
    bottom: 5px;
    z-index: 999998;
}

#question{
    font-family: "Chivo",sans-serif;
    font-weight: 600;
    padding:            0 0 1rem 0;
    display: none;
}

#answer {
    font-size:			15px;
    padding-bottom:     5px;
    color:rgba(255,255,255,.6);
}

a, a:visited{
    color:            white;
    text-decoration:    none;
    font-weight:        700;
}
a:hover{
    color: #c5c5c5;
}

a.popup-info, a.popup-info:hover, a.popup-info:visited{
    color: inherit;
}

#answer li::marker{
    font-size:          1.1rem;
}

.options{
    display: none;
}

.option {
	display:            block;
    background-color: #06c;
    border: 1px solid #06c;
    font-family: "Chivo",sans-serif;
    font-size:          20px;
    border-radius:      5px;
    min-width: 90px;
    overflow:           auto;
    margin:     5px auto;
    color: white;
    padding: 5px 25px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.option:hover{
    background-color: #002352;
    cursor:     pointer;
}
.option:focus{
    outline: none;
}

.code {
    font-family:        "Courier New";
    color:              black;
    background-color: #808080;
    border-style:       solid;
    border-width:       thin;
    border-color:     black;
    padding:            0px 5px;
}
.shadow {
    display: none;
}

#shadow {
    position:       fixed;
    padding:        0;
    margin:         0;

    top:            0;
    left:           0;

    width:          100%;
    height:         100%;
    background:    rgba(0,0,0,0.5);
    z-index:        999999;
}
#warn {
    text-align:     center;
    margin:         0;
    position:       fixed;
    top:            50%;
    left:           50%;
    transform:      translate(-50%, -50%);
    border-radius:  20px;
    padding:        30px;
    color:        #ffffff;
    background-color: #ff0000;
    box-shadow:         0 0 15px black;
    font-size:          14px;
    font-weight:        bold;
    z-index:            1000000;
}
#warnConfirm {
    width:      100%;
    margin-top: 5px;
}


#dgb-d{
    position:   fixed;
    bottom:     10px;
    left:       10px;
}
#dgb-d:hover{
    cursor: pointer;
}
h2#troubleshooting{
    font-family:    Roboto-thin, sans-serif;
    position:       fixed;
    bottom:         5px;
    left:           50%;
    transform:      translate(-50%);
}

#popup-dialogue{
    position:       fixed;
    top:            50%;
    left:           50%;
    transform:      translate(-50%, -50%);
    z-index:        8888;
    max-width: 0;
    max-height: 0;

    border-radius: 5px;

    background: rgba(255,255,255,.85);

    color: #222;
    font-weight: bold;
    text-align: center;
    overflow: auto;

    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
#popup-dialogue p{
    display:block;
}
#popup-dialogue a{
    color: #06c;
}
#popup-dialogue a:visited{
    color: #06c;
}
button.popup-close{
    padding: 3px 10px;;
    border: 1px solid #06c;
    border-radius: 5px;
    background: #06c;

    font-size: 1.1em;
    font-weight: 900;
    color: white;

    float: right;

    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
button.popup-close:hover{
    cursor: pointer;
    background: #002352;
}
button.popup-close:focus{
    outline: none;
}

a.popup-info{
    padding-right: .5em;
}
a.popup-info::after{
    content: "?";
    color: #06c;
    position: absolute;
    transform:translateY(-.5em);
}

@media only screen and (max-width: 600px) {
    #window, #warn {
        width:      calc(100% - 50px);
        padding:    20px;
    }
    .option {
        font-size:  15px;
    }
}